header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                img(class="icon", src="https://1.bp.blogspot.com/-zjC0cxWMMN8/XZR9wJ4DnMI/AAAAAAABVVA/ASTQQk9XoL4TPdMYrrMzPgWdlWynIES7wCNcBGAsYHQ/s1600/pan_kame.png", alt="거북이 모양 빵(irasutoya.com)", height="50")
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term..." name="term")
        .header__column
            ul
                if !user
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Login
                else
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.me) Profile
                    li
                        a(href=routes.logout) Logout
                