extends layouts/main

block content
    .video-detail__container
        .video__column
            .video__player
                video(src=`/${video.fileUrl}`, controls=true)
            a(href=routes.editVideo(video.id))
                button.edit__video="Edit Video"
        .video__column
            .video__info
                h5.video__title=video.title
                span.video__views=`🐾${video.views} Views`
                p.video__description=video.description
            .video__comments
                if video.comments.lenth === 1
                    span.video__comment-number 1 comment
                else
                    span.video__comment-number #{video.comments.length} comments
        